<ion-view title="Mgan Training" id="page3">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/wvAnnShhRweIipa1UUQN_LEAN.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="mganTraining2-list2">
      <ion-item class="item-icon-left positive" id="mganTraining2-list-item7">
        <i class="icon ion-android-add"></i>INTRODUCTION</ion-item>
      <ion-item class="item-thumbnail-left positive" id="mganTraining2-list-item8" ui-sref="qCTOOLS()">
        <img src="img/FVgVL0s3SLyl6Rf3XGTn_7QC.png">
        <h2positive>QC Tools
          <p style="white-space:normal;">7 new &amp; old quality control tools &amp; application</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mganTraining2-list-item9" href-inappbrowser="http://www.otpam.com">
        <img src="img/FZYCnlxnQuaGLoyMgh1U_productivity.jpg">
        <h2>Productivity Improvement</h2>
        <p>zero defect</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mganTraining2-list-item10">
        <img src="img/u87KMgo7TzWg08yKGGLT_wm.png">
        <h2>Warehouse Management</h2>
        <p>Stores &amp; Logistics Management</p>
      </ion-item>
    </ion-list>
    <button id="mganTraining2-button2" class="button button-positive button-block">about us</button>
  </ion-content>
</ion-view>